name: Generate Snake Animation

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Generate Snake
        uses: Platane/snk@v3
        with:
          github_user_name: NilupulThisaranga
          outputs: |
            output/snake.svg?palette=github-dark&color_snake=#00F7FF&color_dots=#020617,#0f172a,#1e293b,#22c55e,#00F7FF

      - name: Push Snake
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add .
          git commit -m "Generate Snake" || exit 0
          git push
