name: Generate Snake

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Generate snake
        uses: Platane/snk/svg-only@v3
        with:
          github_user_name: NilupulThisaranga
          outputs: |
            assets/snake.svg

      - name: Commit snake
        uses: EndBug/add-and-commit@v9
        with:
          add: "assets/snake.svg"
          message: "chore: update snake"
