name: Generate Snake

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Generate Snake
        uses: Platane/snk@v3
        with:
          github_user_name: NilupulThisaranga

          outputs: |
            dist/snake.svg?palette=github-dark&color_snake=#00F7FF&color_dots=#1E293B,#7C3AED,#9333EA,#C084FC,#00F7FF
            dist/snake-dark.svg?palette=github-dark&color_snake=#00F7FF&color_dots=#0F172A,#312E81,#4C1D95,#6D28D9,#A855F7

      - name: Push Snake
        uses: crazy-max/ghaction-github-pages@v4
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
